* {
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
}

#header-container {
	background-image: url("images/books_header_bg.jpg");
}

#header-nav {
	padding: 1em 1em 1em 22em;
}

.topnav {
	list-style-type: none;
	float: left;
}

#site-label a {
	color: #dbeebf;
	font-size: 32px;
	font-family: serif;
	text-decoration: none;
	font-weight: 20;
}

#site-label a span {
	color: white;
}

#site-description {
	color: #44691b;
	font-size: 14px;
}

form {
	margin: 0 auto;
}

#book-search{
	margin: 15px 350px 15px 350px;
	width: 600px;
	padding: .75em;
	border: 0 solid;
	font-size: 16px;
	color: #44691b;
	background-color: #dbeebf;
}

#book-search[type=text] {
    width: 642.5px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: #dbeebf;
    background-image: url('images/ic_search_white_18dp_2x.png');
    background-position: 600px 5px;
    background-repeat: no-repeat;
    bac
}

#nav-top-bar {
	padding: 0 0 0 150px;
}

#nav-top-bar ul {
	list-style-type: none;
	text-align: center;
}

#nav-top-bar ul li {
	float: left;
}

#nav-top-bar ul li a {
	display: block;
	padding: 5px 16px 16px 16px;
	text-decoration: none;
	color: grey;
	font-size: 16px;
}

#footer-container {
	clear: both;
	background-color: #191919;
	border: 2px solid red;
}

#footer-container ul {
	list-style-type: none;
}

#footer-left-image {
	padding: 0 0 0 50px;
}

.footer-left-float{
	float: left;
}

#footer-left-label span {
	color: #dbeebf;
}

#footer-left-label {
	padding: 10px 0 0 0;
}

#footer-left-label a{
	text-decoration: none;
	color: grey;
}

#footer-copyright-label {
	color: grey;
	padding: 0 0 0 950px;
}

#footer-copyright-label span {
	border: 1px solid;
	position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    vertical-align: top;
    text-align: center;
    font-size: 16px;
    font-family: sans-serif;
    line-height: 12px;
}

#footer-email-link a {
	display: block;
	text-decoration: none;
	color: #dbeebf;
	padding: 0 0 0 950px;
}




