body {
	margin: 0;
	font-family: Arial, sans-serif;
}

.site-header {
	background-image: url("images/books_header_bg.jpg");
	margin: 0;
	padding: 20px 0 20px 0;	
}
.site-header-logo {
	//border: 1px solid red;
	display: block;
	margin: 10px auto 30px auto;
	padding: 0;
	width: 44%;
}
.site-header-logo-item {
	//border: 1px solid;
	display: inline-block;
	margin: 0;
	vertical-align: middle;
}
.site-header-logo-media {
	//border: 1px solid yellow;
	padding: 45px 0 0 0;
	border-radius: 50px;
}

.site-header-logo-img {
	//border: 1px solid red;
	vertical-align: bottom;
}
.site-header-logo-title {
	//border: 1px solid;
	line-height: 1.25;
	margin: 0 0 0 3px;
	font-weight: 300;
	//font-family: Arial thin;
	font-family: 'Roboto Slab', serif;
	font-size: 178%;
}
.site-header-title-link {
	//border: 1px solid pink;
	text-decoration: none;
	//color: #eee;
	color: #dce4aa;
}

.site-header-title-link span {
	color: #fff;
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
}

.site-header-logo-desc {
	//border: 1px solid;
	margin: 0 0 0 3px;
	font-size: 90%;
	font-family: Arial;
	//color: #799922;
	color: #798844;
	//color: #699922;
}

.site-header-form-item {
	//border: 1px solid red;
	width: 48%;
	margin: 30px auto 10px auto;
}

.site-header-searchform {
	//border: 1px solid blue;
}

.site-header-searchform-input {
 line-height: 1.5;
 font-size: 100%;
 //border: 1px solid brown;
 padding: 10px 0 10px 10px;
 background-color: #dce4aa;
 //width: 92.05%;
 //width: 91.25%;
 //width: 90.5%;
 //width: 89.5%;
 width: 84.5%;
 border-style: none;
 margin-right: 0;
 border-top-left-radius: 2px;
 border-bottom-left-radius: 2px;
 margin-left: 22px;
}
.site-header-searchform-img {
	//border: 1px solid  yellow;
	vertical-align: bottom;
	background-color: #f2f2f2;
	color: #909a1d;
	fill: currentColor;
	margin-left: -4px;
	padding: 5px 12px 5px 12px;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	cursor: pointer;
}

input[type=search]::-webkit-input-placeholder {
	color: #909a1d;
}

//input[type=search]:-ms-input-placeholder {
//	color: white;
//}

.navbar {
	//border: 1px solid red;
	border: 1px solid #fff;
	margin: 0;
}

.navbar-list {
	list-style: none;
	//border: 1px solid green;
	text-align: center;
	//font-size: 97%;
	font-size: 100%;
}
.navbar-item {
	display: inline;
	//border: 1px solid yellow;
	margin: 0;	
}
.navbar-link {
	text-decoration: none;
	//border: 1px solid red;
	//padding: 8px 10px;
	//padding: 8px 18px 10px 0;
	padding: 8px 28px 8px 0;
	color: #76818c;
	margin:0;
}

.navbar-link:hover {
	color: #9dc22e;
}

.site-content {
	//background-color: #f2f2f2;
	//border: 3px solid green;
	//border: 1px solid #f2f2f2;
	//background-color: #eee;
	//border: 1px solid #eee;
	background-color: #f3f2f2;
	border: 1px solid #f3f2f2;	
}

.site-content-section {
	width: 80%;
	//width: 75%;
	//height: 539px;
	//height: 529px;
	height: 519px;
	//border: 3px solid red;
	background-color: #fff;
	margin: 3rem auto 4rem auto;
}
.content-body {
	width: 100%;
	position:relative;
	//border: 1px solid yellow;
}

.content-body-item {
	display: inline-block;
	//height: 400px;
	//height: 390px;
	//height: 380px;
	height: 370px;
	vertical-align: bottom;
	//border: 1px solid brown;
	border-radius: 3px;
}

.content-width-70 {
	//width: 66%;
	width: 68%;
	//border: 1px solid green;
	padding: 20px 0 35px 28px;
	margin: 0;
	border-radius: 4px;
}
.content-width-68 {
	//width: 66%;
	width: 68%;
	//border: 1px solid green;
	padding: 20px 0 35px 24px;
	margin: 0;
	border-radius: 4px;
}
.content-width-30 {
	//width: 24.75%;
	//width: 24.9%;
	//width: 28.5%;
	width: 28.75%;
	//width: 26.5%;
	//height: 460px;
	//height: 450px;
	//height: 445px;
	height: 440px;
	//border: 1px solid blue;
	//margin-left: -3px;
	//margin-left: -1px;
	//margin-left: 4.5px;
	border-left: 2px solid #eee;
	border-radius: 4px;	
}
.content-width-28 {
	//width: 24.75%;
	//width: 24.9%;
	//width: 28.5%;
	width: 27.75%;
	//width: 26.5%;
	//height: 460px;
	//height: 450px;
	height: 440px;
	////height: 432px;
	//border: 1px solid blue;
	//margin-left: -3px;
	//margin-left: -1px;
	margin-left: 15px;
	//border-left: 2px solid #eee;
	border-radius: 4px;	
}
.content-heading {
	//border: 1px solid;
	margin: 0;
	padding: 0;
	width: 98%;
}

.content-title {
	//border: 1px solid purple;
	margin: 0;
	font-weight: 400;
	//font-size: 185%;
	//font-size: 180%;
	font-size: 175%;
	font-family: 'Roboto', serif;
}

.content-media-img {
	width:100%;
	height: 100%;
	border-radius: 4px;	
}

.content-nav {
	//border:1px solid orange;
	width: 98%;
}

.content-navlist {
	//border: 1px solid lightblue;
	list-style: none;
	text-align: left;
	padding: 0;
	//font-size: 85%;
	font-size: 80%;
}

.content-navitem {
	display: inline;
	//border: 1px solid yellow;
	//padding: 10px 26px 10px 0;
	padding: 10px 33px 10px 0;
}

.book-author {
	text-decoration: none;
	color: #5244ff;
}

.adjust-padding-right-2px {
	padding-right: 4px;
}

.feedback-bar-1 {
	border-radius: 5%;
	//border-bottom-left-radius: 5%;
}

.follow-author-button {
	text-decoration: none;
	border: 1px solid;
	border-color: #9dc22e;
	border-radius: 3px;
	color: #9dc22e;
	padding: 4px 9px;
}

.book-info {
	color: #babac5;	
}

.read-more {
	text-decoration: none;
	color: #5244ff;
}

.content-body--detail {
	//border: 1px solid lime;
	width: 100%;
	height: auto;
}

.content-article {
	//border: 1px solid pink;
	display: inline-block;
	margin: 0;
	vertical-align: bottom;
	height: 290px;
}

.content-width-60 {
	//width: 58%;
	width: 57%;
	//border: 1px solid red;
}

.content-width-40 {
	//width: 35.15%;
	width: 36.15%;
	margin-left: 16px;
	padding-left: 14px;
	//border-left: 1px solid #babac5;
	border-left: 2px solid #eee;
	//border-right: 2px solid #eee;
	padding-bottom: 0;
}

.book-svc-modal-window {
	//border: 1px solid;
	width: 0;
	height: 0;
  margin: 0;
  padding: 0;
  //z-index: 1;	
  background-color: #fff;
  //position: absolute;
	opacity: 0.25; 
	//overflow: hidden;
}

.book-svc-modal {
	//border: 5px solid red;
	display: block;
	position: absolute;
	z-index: 20;
	//width: 100%;
	//width: 56.5%
	//height: 100%;
	//width: 1075px;
	//width: 1000px;
	width: 600px;
	height: 440px;
	top: 0;
	left: 0;
	//overflow: hidden;	
	background-color: rgb(182, 175, 175);
	background-color: rgba(182, 175, 175, 0.4);	
	//opacity: .5;
}

.book-svc-modal-content {
	display: block;
	position: absolute;
	//width: 56.5%;
	//width: 56.5%;
	width: 100%;
	height: 100%;
	top: 0;
	left: 469px;
	//border: 1px solid pink;
	//overflow: visible;
	background-color: #fff;
	//z-index: 4;
	//overflow-x: auto;
	//overflow-y: auto;
}

.book-svc-tab {
 	position: relative;
 	//width: 570px;
 	width: 630px;
 	height: 440px;
 	//border: 5px solid lime;
}

.book-svc-content-body {
	width: 565px;
	height: 415px;
	//margin: 20px;
	//border: 2px solid blue;
}

.book-svc-content-index {
	transform: rotate(90deg);
	//border: 2px solid red;
	margin: 0;
	padding: 0;
	position: absolute;	
	//background-color: red;
	width: 378px;
	top: 232px;
	left: 435px;
}
.book-svc-content-body, .book-svc-content-index {
	display: inline-block;
}
.book-svc-content {
	//border: 1px solid red;
	width: 598px;
	//width: 565px;
	//height: 425px;
	//height: 440px;
	height: 430px;
	background-color: #fff;
	//margin: 10px;
	//padding: 5px;
	overflow: hidden;
	position: absolute;
	//z-index: 3;
	border: 5px solid #b8e0df;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	display: none;
}

.v-tab-index {
	display: none;
}

.v-tab-label {
	display: inline-block;
	padding: 10px 5px;
	//transform: rotate(90deg);
	//border: 1px solid #b8e0df;
	//border-radius: 10px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	width: 110px;
	height: 15px;
	font-size: 80%;
	background-color: transparent;
	text-align: center;
	color: #3294cd;
}

.v-tab-index:first-of-type:checked ~ .book-svc-content-body .book-svc-content:first-of-type,
.v-tab-index:nth-of-type(2):checked ~ .book-svc-content-body .book-svc-content:nth-of-type(2),
.v-tab-index:nth-of-type(3):checked ~ .book-svc-content-body .book-svc-content:nth-of-type(3) {
	display: block;
}

.v-tab-index:first-of-type:checked ~ .book-svc-content-index .v-tab-label:first-of-type,
.v-tab-index:nth-of-type(2):checked ~ .book-svc-content-index .v-tab-label:nth-of-type(2),
.v-tab-index:nth-of-type(3):checked ~ .book-svc-content-index .v-tab-label:nth-of-type(3) {
	background-color: #b8e0df;
}

.search-in-book-content {
	border: 1px solid red;
	padding: 30px;
}
.search-in-book-txt-field-wrapper {
	border: 1px solid #babac5;
	margin-bottom: 24px;
	border-radius: 4px;	
}
.search-in-book-txt-field {
	padding: 10px;
	width: 100%;
	border-style: none;
	background-color: #fff;
	font-size: 110%;
	border-radius: 4px;
}
.search-in-book-content input[type=search]::-webkit-input-placeholder {
	color: #0d0d0d;
	font-weight: 100;
}

.search-result ul{
	width: 540px;
	height: 400px;
	overflow: auto;
}

.search-in-book-content .search-result ul::-webkit-scrollbar {
    width: 7px;
}
.search-in-book-content .search-result ul::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}
 
.search-in-book-content .search-result ul::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.search-result-list {
	//border: 1px solid green;
	padding: 0;	
	font-size: 88%;	
}
.search-result-item {
	list-style: none;
	//background-color: orange;
	padding: 8px 5px;
}
.search-result-item:before {
	content: " ... ";
}
.search-result-item:first-of-type:after {
	content: "8";
	padding-left: 86px;
}
.search-result-item:nth-of-type(2):after {
	content: "15";
	padding-left: 30px;
}
.search-result-item:nth-of-type(3):after {
	content: "19";
	padding-left: 36px;
}
.search-result-item:nth-of-type(4):after {
	content: "28";
	padding-left: 104px;
}
.search-result-item:nth-of-type(5):after {
	content: "36";
	padding-left: 44px;
}
.search-result-item:nth-of-type(6):after {
	content: "41";
	padding-left: 34px;
}
.search-result-item:nth-of-type(7):after {
	content: "53";
	padding-left: 26px;
}
.search-result-item:nth-of-type(8):after {
	content: "58";
	padding-left: 57px;
}
.search-result-item:nth-of-type(9):after {
	content: "61";
	padding-left: 78px;
}
.search-result-item:nth-of-type(10):after {
	content: "63";
	padding-left: 28px;
}
.content-desc {
	margin-bottom: 24px;
	line-height: 1.5;
	color: #76818c;
	word-break: keep-all;
	font-size: 98%;
}

.more-about-book {
	//border: 1px solid lime;
	width: 100%;
	height: 130px;
	//overflow-x: scroll;
	//overflow-y: scroll;
}

.book-review-box {
	margin-bottom: 8px;
	height: 160px;
}

.book-svc-box {
	padding: 10px 0 0 10px;
	height: auto;
	width: 100%;
}

.book-svc-item {
	//border-bottom: 1px solid;
	color: #5244ff;
	display: block;
	width: 90%;
	padding: 10px 5px 5px 5px;
	cursor: pointer;
}

.book-svc-item:after {
	content: '\203A';
	float: right;
}

.book-svc-item:first-of-type {
	border-bottom: 1px solid #babac5;
}
.book-svc-item:nth-of-type(2) {
	border-bottom: 1px solid #babac5;
}

.content-footer {
	//border: 1px solid blue;
	widht: 100%;
	height: auto;
	//background-color: #eee;
	background-color: #f3f2f2;
}

.content-footer-item {
	//border: 1px solid green;
	border: 1px solid #eee; 
	display: inline-block;
	padding-top: 22px;
	padding-bottom: 24px;	
}

.vendor-price-list {
	//border: 1px solid yellow;
	//padding-top: 22px;
	//padding-bottom: 20px;
}

.price-list-item {
	display: inline-block;
	//border: 1px solid red;
	//width: 21%;
	//height: 30%;
	width: 227px;
	height: 46px;
	margin-right: 22px;
	padding: 0;
}
.list-item-detail {
	display: inline-block;
	vertical-align: bottom;
	margin: 0;
}
.vendor-price-button {
	border: 2px solid #eee;
	border-radius: 10px;
	margin: 0;
	padding: 0;
	cursor: pointer;
	width: 155px;
}
.vendor-download-button {
	//border: 2px solid #babac5;
	border-radius: 5px;
	margin: 0;
	padding: 0;
	cursor: pointer;
	width: 245px;
	height: 42px;
	font-size: 100%;
	letter-spacing: 0.25px;
	//background-color: #9dc22e;
	background-color: #a7cf30;
	color: #fff;
	font-weight: 400;
	border-style: none;
}
.price-list-item-img {
	width:100%;
	height: 100%;
	margin: 0;
	border-radius: 5px;
	padding: 0;	
	vertical-align: bottom;
}
.book-price {
	//border: 1px solid pink;
	background-color: #fff;
	width: 70px;
	height: 42px;
	text-align: center;
	margin: 0;
	vertical-align: bottom;
	margin-left: -6px;
}

.book-price-tag {
	//border: 1px solid;
	margin-top: 12px;
	color: #9dc22e;	
}

.gumroad-tag-1 {
	margin-bottom: 2px;
	height: 39.75px;
}
 
.amazon-tag-1 {
	margin-bottom: 2px;
	height: 40.5px	
 }

.publisher-manning-tag-1 {
	margin-bottom: 1px;
	height: 40.50px;
}
.bookmark-icon {
	//border: 1px solid pink;
	width: 100px;
	text-align: center;
	float: right;
	padding-bottom: 9px;
}

.bookmark-icon-img {
	//border: 1px solid red;
	//width: 100%;
	//vertical-align: middle;
}

.bookmark-icon-link {
	//border: 1px solid green;
	//padding: 0;
	text-decoration: none;
	color: #76818c;
}

.site-footer {
	//border: 1px solid #191919;
	//background-color: #191919;
	border: 1px solid #41403e;
	background-color: #41403e;
}
.site-footer-wrapper {
	//border: 1px solid #fff;
	margin: 3rem auto;
	width: 80%;
}

.site-footer-logo {
	//border: 1px solid red;
	display: block;
	margin: 10px auto 30px auto;
	padding: 0;
	width: 44%;
}
.site-footer-logo-item {
	//border: 1px solid;
	display: inline-block;
	margin: 0;
	vertical-align: middle;
}
.site-footer-logo-media {
	//border: 1px solid yellow;
	padding: 45px 0 0 0;
	border-radius: 50px;
}

.site-footer-logo-img {
	//border: 1px solid red;
	vertical-align: bottom;
}
.site-footer-logo-title {
	//border: 1px solid;
	line-height: 1.25;
	margin: 0 0 0 3px;
	font-weight: 300;
	//font-family: Arial thin;
	font-family: 'Roboto Slab', serif;
	font-size: 118%;
}
.site-footer-title-link {
	//border: 1px solid pink;
	text-decoration: none;
	//color: #eee;
	//color: #dce4aa;
	//color: #babac5;
	color: #909089;
}

.site-footer-title-link span {
	//color: #fff;
	color: #babac5;
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
}

.site-footer-item {
	display: inline-block;
	//border: 1px solid #eee;
	vertical-align: middle;
}

.site-footer-copyright {
	//color: #a8a8a3;
	//color: #9c9c96;
	color: #909089;
	//border: 1px solid pink;
	margin: 0;
}

.site-footer-email {
	color: #babac5;
	//border: 1px solid blue;
	margin: 0;
	text-decoration: none;
}

.keep-right {
	float: right;
}
.load-more {
	//border: 1px solid red;
	width: 80%;
	height: 300px;
	margin: 1rem auto;
	text-align: center;
}

.load-more-books-link {
	text-decoration: none;
	text-transform: uppercase;
	color: #909089;
}

.close-modal {
	position: absolute;
	font-size: 200%;
	left: 1085px;
	top: 10px;
}